Repository rancher/rke2, pull requests merged in 2021-08, with the labels that each got.

#1493 Update the documentation for Windows
  docs/install/install_options/install_options.md
  docs/install/install_options/windows_agent_config.md
  docs/install/linux_uninstall.md
  docs/install/quickstart.md
  docs/install/requirements.md
  docs/install/windows_airgap.md
  docs/install/windows_uninstall.md
  mkdocs.yml
Labels: area/windows, kind/documentation

#1517 add psp labels
  pkg/rke2/psp_templates.go
Labels: enhancement

#1516 [wip] switching to 3.5 pause images
  scripts/build-windows-binary
  scripts/build-windows-images
  scripts/package-windows-images
  scripts/version.sh
Labels: area/windows, kind/bug

#1567 Fixing issues with windows installation scripts.
  install.ps1
  windows/rke2-install.ps1
Labels: area/windows

#1571 Switching to only using curl for windows scripts.
  install.ps1
  windows/rke2-install.ps1
Labels: area/windows

#1591 bump calico to 3.19.2 for windows
  Dockerfile.windows
Labels: area/windows

#1602 Allows getting the version from Rancher and passes it to the installer.
  windows/rke2-install.ps1
Labels: area/windows

#1605 Bumped k3s version to bring in updated HNS Network call.
  go.mod
  go.sum
Labels: kind/bug, area/windows

#1619 Refactored how we start calico with kubelet context to cancel
  pkg/pebinaryexecutor/pebinary.go
  pkg/windows/calico.go
  pkg/windows/types.go
Labels: area/windows
