Repository rancher/rke2, pull requests merged in 2021-09, with the labels that each got.

#1750 Add drone links to k8s upgrade doc
  developer-docs/upgrading_kubernetes.md
Labels: kind/documentation

#1753 Adding support for External IP for Windows nodes Rancher installer..
  windows/rke2-install.ps1
Labels: area/windows

#1768 patch windows airgap docs
  docs/install/windows_airgap.md
Labels: kind/documentation, area/windows

#1797 Add release checklist
  developer-docs/upgrading_kubernetes.md
Labels: kind/documentation

#684 docs: tweak some of the verbiage and link on fips page
  docs/security/fips_support.md
Labels: kind/documentation

#1867 Cleaning up the PowerShell installation script
  install.ps1
Labels: area/install-script, area/windows
